*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-black{
    background-color: black;
}

.table-styling{
    border: 1px solid white;
    color: orange;
    font-family: 'Share Tech Mono', sans-serif;
    margin: 30px auto;
}

.cell-padding{
    padding: 20px 10px;
}